<meta charset="utf-8">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

{%- comment %} https://docs.google.com/presentation/d/1rmxwWa9P6_xHqonmh5ONXRS-jPc5XKbnv99Rjkhe04s/present {% endcomment -%}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- TIPOGRAFÍA VARIABLE RECOMENDACIÓN KIMI PARA ELEGANCIA -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">

<!-- ANIME.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="assets/js/animaciones.js"></script>
<script>
	// Detecta si el usuario prefiere reducir movimiento
	const prefersReducedMotion = window.matchMedia('(prefers-reduced-motion: reduce)');
	if (prefersReducedMotion.matches) {
	  anime.suspendWhenDocumentHidden = false;
	  // Disminuye duraciones o desactiva animaciones
	}	
</script>
<script>
  console.log('✅ DOM cargado');
  console.log('¿Anime.js cargado?', typeof anime !== 'undefined');
</script>
<!-- ANIME.JS -->

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
  {% if site.enable_copy_code_button -%}
    window.enable_copy_code_button = true;
  {%- endif %}
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ './assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ './assets/css/fps.css' | relative_url }}">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css"></noscript>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
	{% include search_form.html %}
{% endif %}
