.boton-magico {
  position: relative;
  overflow: hidden;
  
/*  Micro-interacciones en botones: */

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    transition: all 0.5s;
    transform: translate(-50%, -50%);
  }
  
  &:hover::before {
    width: 300px;
    height: 300px;
  }
}

/* efectos de seccion */
.scroll-section {
  min-height: 100vh;
  padding: 4rem 2rem;
  opacity: 0.8;
  transition: opacity 0.5s;
  
  &.active {
    opacity: 1;
  }
}
