.boton-magico {
  position: relative;
  overflow: hidden;
  
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    transition: all 0.5s;
    transform: translate(-50%, -50%);
  }
  
  &:hover::before {
    width: 300px;
    height: 300px;
  }
}
